/* ================= Modify Record ================= */
/*add coupon*/
.card{
    padding-top: 40px;

    background-color: #FFF;
    border-radius: 15px;

}

.card td{
    font-size: 18pt;
    color: #2c2c2c;
}

.addCoupon_Title{
    width: 25%;
}

.input_underline{
    width: 100%;
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
    box-shadow: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    margin:0 10px;
    padding: 10px 20px;
    font-size: 14pt;

    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #acacac;
    border-radius: 0px;
    outline: none;
}

.input_underline:hover, .input_underline:focus, .input_underline:active{
    border-bottom: 1.2px solid #4c4c4c;
}

::placeholder {
  color: #dcdcdc;
}